# git ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
profanity
*.o
*.log
*.swp
testsuite
tags
.deps/
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
src/config.h
src/config.h.in
config.status
configure
configure.scan
depcomp
install-sh
missing
stamp-h1
*~
