# out-of-tree build folders
build*/

# valgrind output
profval*

# website files
main_fragment.html
toc_fragment.html

# valgrind files
valgrind.out
my-prof.supp

# Generate docs
apidocs/python/_build/
apidocs/python/modules.rst
apidocs/python/prof.rst
apidocs/python/src/prof.pyc
apidocs/python/plugin.rst
apidocs/python/src/plugin.pyc
apidocs/c/html/
apidocs/c/doxygen_sqlite3.db

# Temp Vim files
**/*.swp

# GDB
.gdbinit

# Misc
.DS_Store
*.bak
*.orig
*.patch
*.rej
breaks
*.tar.*
*.zip
*.log*
