[ui]
splash=true
intype=true
beep=false
statuses.muc=all
theme=default
history=true
titlebar=true
mouse=false
flash=false
vercheck=false
statuses.console=all
statuses.chat=all
color.nick=true

[connection]
autoping=60
reconnect=5
account=me@server.org

[chatstates]
enabled=true
outtype=false
gone=10

[notifications]
remind=60
invite=true
sub=true
message=true
room=mention
message.current=true
room.current=true
typing=true
typing.current=false
message.text=true
room.text=true

[alias]
friends=/who online friends
bob=/msg bob@server.org hey wassup?

[logging]
chlog=true
grlog=true
maxsize=1048580
rotate=true
shared=true

[otr]
warn=true
log=redact
policy=manual

[presence]
autoaway.mode=away
autoaway.time=15
autoaway.message=Away from computer
autoaway.check=true
