name: CI

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  linux:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        flavor: [arch, debian, fedora, ubuntu]

    name: Linux
    steps:
      - uses: actions/checkout@v4
      - name: Run tests
        run: |
          docker build -f Dockerfile.${{ matrix.flavor }} -t profanity .
          docker run profanity ./ci-build.sh

  code-style:
    runs-on: ubuntu-22.04
    name: Check coding style
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      # if this check fails, you have to update the number of auto types known and the list of auto types in the check below
      - name: Check auto types are up-to-date
        run: |
          [[ "$(find src -type f -name '*.[ch]' -exec awk '/^#define auto_[\W]*/ {print $2}' '{}' \; | sort -u | wc -l)" == "8" ]] || exit -1
      - name: Check auto types are initialized
        run: |
          grep -P 'auto_(char|gchar|gcharv|guchar|jid|sqlite|gfd|FILE)[\w *]*;$' -r src && exit -1 || true
      - name: Run clang-format
        uses: jidicula/clang-format-action@v4.11.0
        with:
          clang-format-version: '16'
          check-path: 'src'

  spell-check:
    runs-on: ubuntu-22.04
    name: Check spelling
    continue-on-error: true
    steps:
      - uses: actions/checkout@v4
      - name: install dependencies
        run: |
          sudo apt update
          sudo apt install -y --no-install-recommends codespell
      - name: Check spelling
        run: |
          codespell
